.App {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

Link {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
}

.m {
    height: 20px;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#l {
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}